<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Royal-Game</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title"> PROMOTION AGENT </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i data-v-7c8bbbf4="" data-v-106b99c8="" class="van-icon van-icon-notes-o" style="font-size: 25px;">
                            <!---->
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7c8bbbf4="" class="promotion">
                <div data-v-7c8bbbf4="" class="tab">
                    <ul data-v-7c8bbbf4="" class="c-row c-row-between">
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion'">Overview</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/myTeam'">My Team</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/promotionDes'">Receipt history</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/tutorial'" class="action block-click">Tutorial</li>
                    </ul>
                </div>
                <div data-v-7c8bbbf4="" class="box">
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between">GENERAL TABLE</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="hd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Agent level</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Number of people</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Group revenue</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Power up the team</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 0</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">0</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 1</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1000000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">100000000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 2</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">15</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1500000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">150000000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 3</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">30</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2000000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">200000000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 4</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">45</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2500000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">250000000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">50</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">3000000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">300000000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 6</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">60</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500000000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500000000</div>
                        </div>
                    </div>
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">Calculate commission</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="box" style="width: 420px;">
                            <div data-v-7c8bbbf4="" class="hd dl van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">
                                    Rating<p data-v-7c8bbbf4="" class="txt">Bounce rate</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    F1<p data-v-7c8bbbf4="" class="txt">Revenue</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    F2<p data-v-7c8bbbf4="" class="txt">Revenue</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    F3<p data-v-7c8bbbf4="" class="txt">Revenue</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    F4<p data-v-7c8bbbf4="" class="txt">Revenue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $('.nav .van-tabbar-item:eq(0) img').attr('src', '/images/home1.png');
        $('.nav .van-tabbar-item:eq(0) .name').removeClass('action');
        $('.nav .van-tabbar-item:eq(2) .name').addClass('action');
        function RosesRender(datas) {
            let html = datas.map((e) => {
                let html = '';
                return html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`;
            });
            $('.table:eq(1) .box').append(html);

            $('.table:eq(1) .box').append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
        }
        $.ajax({
            type: "POST",
            url: "/api/webapi/promotion",
            data: {

            },
            dataType: "json",
            success: function (response) {
                if (response.status === false) return location.href = '/home';
                RosesRender(response.level);
                console.log(response.info.code);
                $('.btn-box .btn:eq(0)').attr('data-clipboard-text', response.info[0].code);
                $('.btn-box .btn:eq(1)').attr('data-clipboard-text', window.location.hostname + `/register?r_code=${response.info[0].code} `);
            }
        });
    </script>
</body>

</html>