<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/paymentfile/font-awesome.min.css" rel="stylesheet">
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif !important;
            /* background: #faf8fc; */
           
        }

        body * {
            box-sizing: border-box;
        }

        h2 p {
            margin: 0;
            padding: 0;
        }

        .phone {
            width: 450px;
            margin-left: 10px;
            display: none;
        }

        .phone img {
            width: 450px;
            margin-bottom: 20px;
        }

        .jc {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .jc img {
            width: 180px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 800px) {
            body {
                display: flex;
                justify-content: center;
            }

            .phone {
                display: block;
            }
        }

        .root {
            /* width: 500px; */
            max-width: 400px;
            /* margin: 10px auto; */
            border-radius: 20px;
            padding: 20px;
            background: #fefefe;
        }

        .head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #8df;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .cp {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        #qrcodeC {
            width: 200px;
            height: 200px;
            margin: 10px auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #qrcodeC::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-left: 2px solid #02a6b5;
            border-top: 2px solid #02a6b5;
            content: "";
        }

        #qrcodeC::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-right: 2px solid #02a6b5;
            border-top: 2px solid #02a6b5;
            content: "";
        }

        #qrcodeC #qrcode-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        #qrcodeC #qrcode-footer::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-left: 2px solid #02a6b5;
            border-bottom: 2px solid #02a6b5;
            content: "";
        }

        #qrcodeC #qrcode-footer::after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-right: 2px solid #02a6b5;
            border-bottom: 2px solid #02a6b5;
            content: "";
        }

        .choese {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .choese a {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 47%;
            height: 55px;
            border: 1px solid rgb(210, 210, 210);
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 10px;
            text-decoration: none;
            color: rgb(150, 150, 150);
            font-weight: bold;
        }

        .sub {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sub div {
            width: 70%;
            height: 30px;
        }

        input {
            width: 100%;
            height: 30px;
            padding: 0 10px;
            outline: none;
            border: 1px solid #CCC;
        }

        input::placeholder {
            color: #ccc;
        }

        button {
            width: 60px;
            height: 30px;
            background: #3aa0fa;
            color: #fff;
            border: none;
            border-radius: 3px;
        }

        .war {
            width: 100%;
            height: 100px;
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .war span {
            height: 100%;
            width: 20%;
            background: #6ac3ec;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .war p {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            padding: 10px;
            font-size: 12px;
            color: #6ac3ec;
        }

        .conBarbox {
            overflow: hidden;
            transition: all 0.5s;
        }

        #conBar {
            list-style: none;
            margin-top: 10px;
        }

        #conBar li a {
            text-decoration: none;
            color: #3aa0fa;
        }
    </style>
    <style>
        .logo {
            padding-bottom: 5px;
            text-align: center;
            margin-bottom: 10px;
            color: #3aa0fa;
        }

        .logo span {
            padding: 3px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="root">
        <div class="logo"><span>E - PAY</span></div>
        <div class="head">
            <div id="amount">₹</div>
            <div> <span id="time">29:42</span></div>
        </div>
        <br>
     
        <div class="cp">
            <p style="font-weight: bold;color:rgb(175, 175, 175)">UPI ID</p>
            <p><span id="upiC" style="color:red"><span
                        id="idup"></span></span>&nbsp;&nbsp;&nbsp;
                       <i  onclick="copyToClipboard(idup)" class="fa fa-clone"></i></p>
        </div>
        <br>
        
            <div id="qrcode" style="display:none;"></div>
            <div id="qrcodeC"><div id="qrcodeImg" ><img style="height:200px" src="/paymentfile/qrupdatepro.jpg"></div></div>
            
            <div id="qrcode-footer"></div>
        <div style="display:flex;justify-content:center"><a href="/paymentfile/qrupdatepro.jpg"
                style="text-decoration: none; color: rgb(78, 205, 255);border: 1px solid rgb(78, 205, 255);font-size: 12px;padding: 5px; border-radius: 999em;">Download</a>
        </div>
        <p style="text-align: center;margin-top:10px; color:#eb7100">have you paid successfully?</p>
        <br>
        <p style="text-align: center ">Paytm, PhonePe, GooglePay, Other Bank</p>
        <br>
        <div class="choese">
          <!-- <a style="font-size:10px" href="#" target="blank"><img src="/paymentfile/Paytm.svg" width="40 ">&nbsp;&nbsp;Paytm</a> -->
            <!-- <a style="font-size:10px" href="#" target="blank"><img src="/paymentfile/PhonePe.svg" width="40 ">&nbsp;&nbsp;PhonePe</a> -->
            <!-- <a style="font-size:10px" href="#" target="blank"><img src="/paymentfile/Google.svg" width="40 ">&nbsp;&nbsp;GooglePay</a> -->
           <!-- <a style="font-size:10px" href="#" target="blank"><img src="/paymentfile/Bank UPI.svg" width="40 ">&nbsp;&nbsp;Other Bank</a> -->
           <p>8149182874@paytm</p>
        </div>
    
        <br>
        <form>
            <div class="sub">
                <span style="color: rgb(160, 160, 160);font-weight: bold;">UTR</span>
                <div><input id="upi-input" value="" placeholder="ENTER REF NO.:1347xxxxxxxx" maxlength="12" required=""
                        type="text"><span></span></div>
                <button class="submit" id="myBtn" disabled="disabled">Submit</button>
            </div>
        </form>
        <br>
        <div style="text-align:center ;">
            <a href="/keFuMenu"
                style="color:rgb(100, 100, 100);text-decoration: none;font-weight: bold;padding: 1px;border-bottom: 3px solid rgb(100, 100, 100);">Contact
                US</a>
        </div>
        <br>
        <p style="text-align:center;color:red">Important reminder: After completing the UPI transaction,please backfill
            Ref No./UTR No./Google Pay : UPI Transaction ID/Freecharge: Transaction ID (12digits). If you do not back
            fill UTR, 100% of the deposit transaction will fail. Please be sure to backfill!</p>
        <br>
        <div class="war">
            <span style="font-size: 50px;" class="iconfont icon-dengpao"><img height="50px"
                    src="/paymentfile/light.jpg"></span>
            <p>Warning: Please confirm that the above account information is carret, and use this account to make the
                payment, otherwise the paytm will not be completed correctly !!</p>
        </div>
    </div>

    <script type="text/javascript">
        let timerOn = true;

        function timer(remaining) {
            var m = Math.floor(remaining / 60);
            var s = remaining % 60;

            m = m < 10 ? '0' + m : m;
            s = s < 10 ? '0' + s : s;
            document.getElementById('time').innerHTML = m + ':' + s;
            remaining -= 1;

            if (remaining >= 0 && timerOn) {
                setTimeout(function () {
                    timer(remaining);
                }, 1000);
                return;
            }
        }
        timer(1800);
    </script>
    <script src="/paymentfile/clipboard.min.js(1).download"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function copyToClipboard(text) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = text.innerHTML.trim();
            inputc.focus();
            inputc.select();
            document.execCommand('copy');
            inputc.parentNode.removeChild(inputc);
            var x = document.getElementById("copied");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
        function check() {
            if (document.getElementById("upi-input").value.length == '12') {
                $('.submit').prop('disabled', false);
                console.log("correct utr");
            } else {
                $('.submit').prop('disabled', true);
                console.log("incorrect utr");
            }
        }
        setInterval(check, 1000);
        $.ajax({
            type: "POST",
            url: "/api/webapi/recharge/check",
            data: {
                check: "idCheclk",
            },
            dataType: "json",
            success: function (response) {
                $('.Loading').fadeOut(50);
                let data = response.datas;
                let infoBank = response.infoBank;
                if (!data) {
                    alert("order id invalid");
                    window.location.href = "/wallet/recharge";
                };
                if (data.utr != 0) {
                    alert("UTR already submitted for this order wait for verification");
                    window.location.href = "/wallet/recharge";
                }
                $('.submit').attr('id', data.id_order);
                let i = 0;
                $('#idup').text(infoBank[i].upi);
                $('#amount').text('₹ ' + data.money);
                $('.info .box .text:eq(4)').text(data.id_order);
                $("a:eq(1)").attr("href", "paytmmp://pay?pa=8149182874@paytm&pn=Merchant&tn=Payment&am=" +data.money);
           // $("a:eq(2)").attr("href", "phonepe://pay?pa=" + infoBank[i].upi + "&pn=Merchant&mc=1234&tr=123456&tn//=Payment&am=" + data.money);
            $("a:eq(2)").attr("href", "tez://upi/pay?pa=8149182874@paytm&pn=Merchant&mc=1234&tid=123456&tr=123456&tn=Payment&am=" + data.money);
           // $("a:eq(4)").attr("href", "upi://pay?pa=" +infoBank[i].upi + "&pn=Merchant&mc=1234&tid=123456&tr=123456&tn//=Payment&am=" + data.money);
            }

        });

        $('.submit').click(function (e) {
            e.preventDefault();
            let id = $(this).attr('id');
            let utr = $('input:eq(0)').val().trim();;
            console.log("utr" + utr);
            $.ajax({
                type: "POST",
                url: "/api/webapi/recharge",
                data: {
                    type: 'submit',
                    typeid: id,
                    utr: utr,
                },
                dataType: "json",
                success: function (response) {
                    if (response.status == true) {
                        $("#result").css("display", "");
                        alert(response.message);
                        setInterval(() => {
                            window.location.href = "/wallet/recharge";
                        }, 2000);
                    }

                }
            });
        });

    </script>
</body>

</html>